body {
    background-color: black;
}

.caixa-superior {
    background-image: url("beers.jpg");
    height: 100vh;
    background-size: cover;
}

.logo {
    position: absolute;
}

.cabeçalho {
    padding-top: 40px;
    padding-left: 40px;
}

.titulo-cabeçalho {
    font-size: 20px;
    color: black;
    display: inline;
    font-family: 'Monoton', cursive;
    text-shadow: 2px 2px 5px rgb(92, 92, 231);
}

.link-cabeçalho {
    font-size: 20px;
    color: black;
    display: inline;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(92, 92, 231);
    font-weight: 900;
}

h1 {
    font-size: 70px;
    color: black;
    position: relative;
    top: 250px;
    margin-left: 350px;
    font-family: 'Monoton', cursive;
}

form {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: right;
    padding: 10px;
    margin-right: 50px;
    position: relative;
    bottom: 250px;
}

.mostrar-formulario {
    visibility: visible;
    opacity: 1;
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
}

textarea {
    display: block;
    background: #F9F9F9;
    height: 80px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.titulo-form {
    font-size: 24px;
    color: #252842;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #252B42;
}

button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #40BB15;
    color: #FFFFFF;
}

.caixa-meio {
    background-image: url("local.jpg");
    height: 100vh;
    background-size: cover;
}

#titulo-meio {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px 5px black;
}

.paragrafo-meio {
    background-color: black;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 20px 50px 50px 50px;
    display: flex;
}

.caixa-inferior {
    background-image: url("barman.jpg");
    height: 100vh;
    background-size: cover;
}

#titulo-inferior {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px 5px black;
}

.paragrafo-inferior {
    background-color: black;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 20px 50px 50px 50px;
    display: flex
}

.caixa-final {
    display: flex;
    text-align: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: black;
}

.card {
    width: 700px;
    border-radius: 10px;
    background-color: black;
    color: white;
    align-items: center;
    list-style-type: none;
}

.titulo-card {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 5px;
    margin-left: 10px;
}

.rodape {
    background-color: black;
    text-align: center;
    color: white;
}
