.ex1 {
    list-style-type: disc;
}

.ex2 {
    list-style-type: circle;
}

.ex3 {
    list-style-type: square;
}

.ex4 {
    list-style-type: armenian;
}

.ex5 {
    list-style-type: lower-greek;
}

.ex6 {
    list-style-type: georgian;
}