.ex1 {
    font-family: "Times New Roman", Tahoma, arial;
    font-weight: thin;
}

.ex2 {
    font-family: "Times New Roman", Tahoma, arial;
    font-weight: normal;
}

.ex3 {
    font-family: "Times New Roman", Tahoma, arial;
    font-weight: bold;
}

.ex4 {
    font-family: "Times New Roman", Tahoma, arial;
    font-weight: 900;
}