.ex1 {
    font-family: "Times New Roman", Tahoma, arial;
    font-size: xx-small;
}

.ex2 {
    font-family: "Times New Roman", Tahoma, arial;
    font-size: small;
}

.ex3 {
    font-family: "Times New Roman", Tahoma, arial;
    font-size: large;
}

.ex4 {
    font-family: "Times New Roman", Tahoma, arial;
    font-size: xx-large;
}